local gui = Instance.new("ScreenGui")
gui.Name = "patrickGui"
gui.Parent = game.CoreGui

if not isfolder("fonts") then
    makefolder("fonts")
end

local HttpService = game:GetService("HttpService")

local CustomFont = {}
function CustomFont:New(Name, Weight, Style, Data)
    if not isfile(Data.Id) then 
        writefile(Data.Id, game:HttpGet(Data.Url))
    end

    local fontData = {
        name = Name,
        faces = {
            {
                name = Name,
                weight = Weight,
                style = Style,
                assetId = getcustomasset(Data.Id)
            }
        }
    }

    writefile("fonts/" .. Name .. ".font", HttpService:JSONEncode(fontData))
    return Font.new(getcustomasset("fonts/" .. Name .. ".font"), Enum.FontWeight.Regular, Enum.FontStyle.Normal)
end

local Custom = {}
Custom.Font = CustomFont:New("ProggyClean", "Regular", "Normal", {
    Id = "fonts/ProggyClean.ttf",
    Url = "https://github.com/ustteki/ui/raw/refs/heads/main/ProggyClean.ttf"
})

local MainFrame = Instance.new("ImageLabel")
local MainFrameScale = Instance.new("UIScale")
local MainUIStroke = Instance.new("UIStroke")
local Side = Instance.new("Frame")
local ContentPages = Instance.new("Frame")
local SideUIStroke = Instance.new("UIStroke")
local Logo = Instance.new("ImageLabel")
local Tabs = Instance.new("Frame")
local TabLayout = Instance.new("UIListLayout")

MainFrame.Size = UDim2.new(0, 751, 0, 539)
MainFrame.Position = UDim2.new(0, 227, 0, 118)
MainFrame.BackgroundColor3 = Color3.fromRGB(17,16,14)
MainFrame.BorderColor3 = Color3.fromRGB(0, 0, 0)
MainFrame.BorderSizePixel = 0
MainFrame.Active = true
MainFrame.BackgroundTransparency = 0
MainFrame.Image = ""
MainFrame.Draggable = true
MainFrame.Parent = gui

MainFrameScale.Parent = MainFrame
MainFrameScale.Scale = 0.75

MainUIStroke.Parent = MainFrame
MainUIStroke.Color = Color3.fromRGB(24,23,20)
MainUIStroke.Thickness = 1
MainUIStroke.Transparency = 0

Side.Parent = MainFrame
Side.Size = UDim2.new(0, 200, 1, -24)
Side.Position = UDim2.new(0, 12, 0, 12)
Side.BackgroundColor3 = Color3.fromRGB(24,23,20)
Side.BorderColor3 = Color3.fromRGB(24,23,20)
Side.BorderSizePixel = 2
Side.BackgroundTransparency = 0

SideUIStroke.Parent = Side
SideUIStroke.Color = Color3.fromRGB(12,12,12)
SideUIStroke.Thickness = 1
SideUIStroke.Transparency = 0

ContentPages.Parent = MainFrame
ContentPages.Size = UDim2.new(1, -238, 1, -24)
ContentPages.Position = UDim2.new(0, 226, 0, 12)
ContentPages.BorderSizePixel = 0
ContentPages.BackgroundTransparency = 1

Logo.Size = UDim2.new(0, 150, 0, 150)
Logo.Position = UDim2.new(0.5, 0, 0, -25)
Logo.AnchorPoint = Vector2.new(0.5, 0)
Logo.BorderSizePixel = 0
Logo.BackgroundTransparency = 1
Logo.Image = "rbxassetid://78008336424629"
Logo.ScaleType = Enum.ScaleType.Fit
Logo.ImageColor3 = Color3.fromRGB(255,255,255)
Logo.ImageTransparency = 0
Logo.Parent = Side

Tabs.Parent = Side
Tabs.Size = UDim2.new(1, 0, 1, -135)
Tabs.Position = UDim2.new(0, 0, 0, 100)
Tabs.BorderSizePixel = 0
Tabs.BackgroundTransparency = 1

TabLayout.Padding = UDim.new(0, 8)
TabLayout.SortOrder = Enum.SortOrder.LayoutOrder
TabLayout.FillDirection = Enum.FillDirection.Vertical
TabLayout.HorizontalAlignment = Enum.HorizontalAlignment.Center
TabLayout.VerticalAlignment = Enum.VerticalAlignment.Top
TabLayout.Parent = Tabs

local Window = {}

function Window:CreateTab(name)
    local TabButton = Instance.new("TextButton")
    local TabUIStroke = Instance.new("UIStroke")
    local label = Instance.new("TextLabel")

    TabButton.Size = UDim2.new(0.95, 0, 0, 25)
    TabButton.Text = ""
    TabButton.BorderSizePixel = 0
    TabButton.BorderColor3 = Color3.fromRGB(24,23,20)
    TabButton.BackgroundTransparency = 0
    TabButton.BackgroundColor3 = Color3.fromRGB(30, 28, 25)
    TabButton.Parent = Tabs

    TabUIStroke.Parent = TabButton
    TabUIStroke.Color = Color3.fromRGB(12,12,12)
    TabUIStroke.Thickness = 1
    TabUIStroke.Transparency = 0.6

    label.Size = UDim2.new(0.75, 0, 1, 0)
    label.Position = UDim2.new(0, 15, 0, 0)
    label.Text = name
    label.TextColor3 = Color3.fromRGB(235,235,235)
    label.BorderSizePixel = 0
    label.BackgroundTransparency = 1
    label.TextSize = 14
    label.FontFace = Custom.Font
    label.TextXAlignment = Enum.TextXAlignment.Left
    label.Parent = TabButton

    local Tab = {}

    function Tab:CreateContent()
        local Content = Instance.new("Frame")
        Content.Parent = ContentPages
        Content.Size = UDim2.new(1, 0, 1, 0)
        Content.Position = UDim2.new(0, 0, 0, 0)
        Content.BorderSizePixel = 0
        Content.BackgroundTransparency = 1
        Content.Visible = false

        local ContentObj = {}

        function ContentObj:CreateSection(name)
            local Section = Instance.new("Frame")
            local Padding = Instance.new("UIListLayout")
            local SecStroke = Instance.new("UIStroke")

            Section.Parent = Content
            Section.Size = UDim2.new(1, 0, 0, 35)
            Section.Position = UDim2.new(0, 0, 0, 0)
            Section.BorderSizePixel = 2
            Section.BorderColor3 = Color3.fromRGB(24,23,20)
            Section.BackgroundTransparency = 0
            Section.BackgroundColor3 = Color3.fromRGB(24,23,20)
            Section.Visible = true

            Padding.Padding = UDim.new(0, 8)
            Padding.SortOrder = Enum.SortOrder.LayoutOrder
            Padding.FillDirection = Enum.FillDirection.Horizontal
            Padding.HorizontalAlignment = Enum.HorizontalAlignment.Left
            Padding.VerticalAlignment = Enum.VerticalAlignment.Center
            Padding.Parent = Section

            SecStroke.Parent = Section
            SecStroke.Color = Color3.fromRGB(12,12,12)
            SecStroke.Thickness = 1
            SecStroke.Transparency = 0

            local SectionButton = Instance.new("TextButton")
            SectionButton.Size = UDim2.new(0.95, 0, 0, 25)
            SectionButton.Text = name
            SectionButton.BorderSizePixel = 2
            SectionButton.BorderColor3 = Color3.fromRGB(12,12,12)
            SectionButton.BackgroundTransparency = 0
            SectionButton.BackgroundColor3 = Color3.fromRGB(30, 28, 25)
            SectionButton.Visible = true
            SectionButton.Parent = Section

            return SectionButton
        end

        return ContentObj
    end

    return Tab
end

local tab1 = Window:CreateTab("Test1")
local Content1 = tab1:CreateContent()
local section1 = Content1:CreateSection("Section1")